html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.picture {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid;
}

.header {
    background-color: #16ab47;
    min-height: 50px;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
  max-width: 400px;
  margin: 0 auto;
}

.hamburger{
  padding: 4px;
  background: none;
  border: none;
  font-size: 2rem;
}



.navigation {
  /*max-width: 433px; /* Maksymalna szerokość kontenera */
  /*margin: 0 auto; /* Automatyczne wyśrodkowanie kontenera */
  /*padding: 10px;
    background-color: #307679; /* Tutaj wpisz wybrany kolor tła */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
 
  position: absolute;
  background-color: #16ab47;
  width: 100%;
}

.navigation--open {
  display: none;
 }

.navigation__link {
  /* background-color: #796e30; Tutaj wpisz wybrany kolor tła */
  text-decoration: none;
}

.main-header {
  margin-bottom: 0;
  padding: 20px 20px 0 20px;
  color: #ab4516;
}

.profile {
  padding: 20px;
}

.profile__header {
  color: #16ab47;
  padding-top: 20px;
}

.profile__about-me {
}

.profile__about-myself {
}

.profile__text {
}

.portfolio {
  padding: 20px;
}

.portfolio__header--h2 {
  color: #16ab47;
  padding-top: 20px;
}

.portfolio__article {
}

.portfolio__header--h3 {
  color: #165cab;
  padding-top: 20px;
}

.portfolio__text {
}

.footer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.footer__header {
  color: #16ab47;
}

.footer__text {
}

@media screen and (min-width: 768px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: flex-end;
  }

  .profile__header {
    margin-bottom: 0;
    order: -11;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
  }

  .portfolio__header--h2 {
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 0;
  }

  .portfolio__header--h3 {
    margin-top: 0;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    /*max-width: 433px; /* Maksymalna szerokość kontenera */
    /*margin: 0 auto; /* Automatyczne wyśrodkowanie kontenera */
    /*padding: 10px;
        background-color: #307679; /* Tutaj wpisz wybrany kolor tła */
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    width: 100%;

    position: static;
    background-color: #16ab47;
  }

}
