html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.picture {
    display: block;
    max-width: 100%;
    margin: 0 auto; 
    padding: 10px;
    border: 2px solid;
}

.header {
    position: sticky;
    top: 0;
}

main {
    max-width: 400px;
    margin: 0 auto;
}

.navigation {
    /*max-width: 433px; /* Maksymalna szerokość kontenera */
    /*margin: 0 auto; /* Automatyczne wyśrodkowanie kontenera */
    /*padding: 10px;
    background-color: #307679; /* Tutaj wpisz wybrany kolor tła */
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navigation__link {
 /* background-color: #796e30; Tutaj wpisz wybrany kolor tła */
}


.main-header {
    padding: 20px;
    color: #ab4516;
}

.profile {

}

.profile__header {
    color: #16ab47;
    padding-top: 20px;
}

.profile__about-me {

}

.profile__about-myself {

}

.profile__text {

}

.portfolio {

}

.portfolio__header--h2 {

    color: #16ab47;
    padding-top: 20px;
}

.portfolio__article {

}

.portfolio__header--h3 {
    color: #165cab;
    padding-top: 20px;
}


.portfolio__text {

}

.footer {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
} 

.footer__header {
    color: #16ab47;
}

.footer__text {

}