html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fefefe; /* Tutaj wpisz wybrany kolor tła */
}

.navigation {

}

.navigation__link {

}

.header {

}

.main-header {

}

.main-header {
    color: #ab4516;
}

.profile__header {
    color: #16ab47;
}

.portfolio__header--h2 {
    color: #16ab47;
}

.portfolio__header--h3 {
    color: #165cab;
}

.footer__header {
    color: #16ab47;
}

.profile {

}

.profile__about-me {

}

.profile__text {

}

.profile__about-myself {

}

.portfolio {

}

.portfolio__article {

}

.portfolio__text {
    
}

.footer {

}

.footer__header {

}

.footer__text {

}